/* body */
body {
    font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serit;
    color: #333333;
    background-color: white;
}

/* top menu */
.logo {
    height: 2.5rem;
    background-color: white;
    width: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 0%;
    color: gray;
}
.menu {
    background-color: white;
    height: 2.5rem;
}
.menu-item {
    display: inline-block;
    color: cadetblue;
    font-size: 0.85rem;
    line-height: 2.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 0%;
}
.menu-item:hover {
    background-color: rgb(248, 248, 248);
}
.menu-item:active, .menu-item:active {
    background-color: aquamarine;
}
.dropdown-menu-item {
    display: inline-block;
    color: cadetblue;
    font-size: 0.85rem;
    line-height: 2.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
.dropdown-menu-item:hover{
    background-color: rgb(248, 248, 248);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.7rem;
}
.dropdown-content div {
    color: rgb(83, 121, 122);
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgb(248, 248, 248);
}
.dropdown-menu-item:hover .dropdown-content{
    display: block;
}

/* page numbers  */
#page-numbers {
    list-style: none;
    display: flex;
    position: absolute;
    margin: 23px auto;
    text-align: center;
    align-content: center;
}
#page-numbers > li {
    margin-right: 1em;
    color: cadetblue;
    user-select: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    align-content: center;
}
.page_td {
    margin: auto auto;
    align-content: center;
    text-align: center;
}

/* sign in */
.signIn {
    position: relative;
    margin: 100px auto;
    width: 280px;
    padding: 33px 25px 29px;
    background: white;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);   
}
.signIn::before, .signIn::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background: inherit;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 4px
}
.signIn::after {
    bottom: 3px;
    border-color: #DCDCDC;
}
input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signInInput {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #EBEBEB;
    -webkit-box-shadow: inset 0 -2px #EBEBEB;
    box-shadow: inset 0 -2px #EBEBEB;
}
.signInInput:focus {
    border-color: #62C2E4;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #62C2E4;
    box-shadow: inset 0 -2px #62C2E4;
}
.signIn_extra_service{
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}
.signIn_extra_service_content{
    display: inline-block;
    position: relative;
    margin: 20px auto auto auto;
    text-align: center;
}
.lt-ie9 .signInInput {
    line-height: 48px;
}
.signInButton {
   position: relative;
   vertical-align: top;
   width: 100%;
   height: 54px;
   padding: 0;
   font-size: 22px;
   color: white;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   background: rgb(95, 158, 160); /*95 158 160*/
   border: 0;
   border-bottom: 2px solid rgb(83, 158, 135);
   border-radius: 5px;
   cursor: pointer;
   -webkit-box-shadow: inset 0 -2px rgb(83, 158, 135);
   box-shadow: inset 0 -2px rgb(83, 158, 135);
}
.signInButton:active {
   top: 1px;
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}
:-moz-placeholder {
   color: #AAAAAA;
   font-weight: 300;
}
::-moz-placeholder {
   color: #AAAAAA;
   opacity: 1;
   font-weight: 300;
}
::-webkit-input-placeholder {
   color: #AAAAAA;
   font-weight: 300;
}
:-ms-input-placeholder {
   color: #AAAAAA;
   font-weight: 300;
}
::-moz-focus-inner {
   border: 0;
   padding: 0;
}

.reservation_button {
    position: relative;
    padding: 0.25em 0.4em;
    margin-top: 8px;
    margin-bottom: 12px;
    width: 20%;
    font-size: 7px;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    background: rgb(148, 187, 175);
    border: 0;
    border-bottom: 2px solid rgb(114, 172, 123);
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(114, 172, 123);
    box-shadow: inset 0 -2px rgb(114, 172, 123);
    border-radius: 5px;
}
.reservation_button:active{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.reservation_button:hover{
    background: rgb(143, 175, 165);
}
.reservation_button:focus{
    outline: none;
}

.refund_button {
    position: relative;
    padding: 0.35em 0.6em;
    width: 28%;
    font-size: 12.3px;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    background: rgb(148, 187, 175);
    border: 0;
    border-bottom: 2px solid rgb(114, 172, 123);
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(114, 172, 123);
    box-shadow: inset 0 -2px rgb(114, 172, 123);
    border-radius: 5px;
}
.refund_button:active{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.refund_button:hover{
    background: rgb(143, 175, 165);
}
.refund_button:focus{
    outline: none;
}

.email_certification_table{
    margin-top: 11%;
}
.email_certification_reservation_search_button{
    position: relative;
    padding: 0.35em 0.6em;
    width: 28%;
    font-size: 11.3px;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    background: rgb(148, 187, 175);
    border: 0;
    border-bottom: 2px solid rgb(114, 172, 123);
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(114, 172, 123);
    box-shadow: inset 0 -2px rgb(114, 172, 123);
    border-radius: 5px;
    margin: 10px 20px;
}
.email_certification_reservation_search_button:active{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.email_certification_reservation_search_button:hover{
    background: rgb(143, 175, 165);
}
.email_certification_reservation_search_button:focus{
    outline: none;
}
.send_certification_number_button {
    position: relative;
    padding: 0.35em 0.35em;
    font-size: 10.3px;
    text-align: center;
    color: black;
    text-shadow: 0 1px 2px rgba(255,255,255,0.25);
    background: white;
    border: 0;
    border-bottom: 2px solid rgb(228, 242, 245);
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(228, 242, 245);
    box-shadow: inset 0 -2px rgb(228, 242, 245);
    border-radius: 5px;
    margin: 10px 20px;
}
.send_certification_number_button:active{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.send_certification_number_button:hover{
    background: rgb(236, 240, 240);
}
.send_certification_number_button:focus{
    outline: none;
}

/* Main.jsx css */
.main_out_table{
    margin-top: 5%;
    width: 75%;
}
.main_login{
    position: relative;
    width: 280px;
    float: right;
    vertical-align: top;
    padding: 33px 25px 29px;
    background: white;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);  
    margin-right: 0%;
}
.main_login::before, .main_login::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background: inherit;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 4px;
}
.main_login::after{
    bottom: 2px;
    border-color: #DCDCDC;
}
input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_loginInput {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #EBEBEB;
    -webkit-box-shadow: inset 0 -2px #EBEBEB;
    box-shadow: inset 0 -2px #EBEBEB;
}
.main_loginInput:focus{
    border-color: #62C2E4;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #62C2E4;
    box-shadow: inset 0 -2px #62C2E4;
}
.main_login_extra_service{
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}
.main_login_extra_service_content{
    display: inline-block;
    position: relative;
    margin: 20px auto auto auto;
    text-align: center;
}
.lt-ie9 .main_loginInput {
    line-height: 48px;
}
.main_loginButton { 
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: rgb(95, 158, 160); /*95 158 160*/
    border: 0;
    border-bottom: 2px solid rgb(83, 158, 135);
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(83, 158, 135);
    box-shadow: inset 0 -2px rgb(83, 158, 135);
}
.main_loginButton:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main_impormation {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 7px;
}